<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Google Scraper Options</title>
        <link rel="stylesheet" href="styles.css">
        <script type="application/javascript" src="browser-polyfill.min.js"></script>
    </head>
    <body>
        <main>
            <form class="options-form" data-key-name="stored_file_types">
                <label for="file-types-input">File types to to be used</label>
                <input id="file-types-input" type="text" class="options-form__input" spellcheck="false">
                <button type="submit" class="options-form__save-button">
                    Save
                </button>
            </form>

            <form class="options-form" data-key-name="stored_num_page_results">
                <label for="num-page-results-input">The number of search results per page</label>
                <input id="num-page-results-input" type="number" class="options-form__input">
                <button type="submit" class="options-form__save-button">
                    Save
                </button>
            </form>
        </main>

        <script src="options.js"></script>
    </body>
</html>