<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>So good</title>
    <style>
        html {
            background-color: #333333;
            color: white;
        }

        .main {
            max-width: 80ch;
            margin: auto;
        }

        .hidden {
            display: none;
        }

        .word_display {
            position: fixed;
            top: 25%;
            left: 50%;
            transform: translateX(-50%);
        }
    </style>
</head>
<body>
    <main class="main">
    </main>
    <h1 class="word_display hidden"></h1>
</body>
</html>